html,
body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

@media only screen and (min-width: 769px) {
  html {
    overflow: overlay !important;
  }

  ::-webkit-scrollbar {
    min-width: 16px;
    min-height: 16px;
  }

  ::-webkit-scrollbar-thumb {
    border: solid 6px transparent;
    border-radius: 9px;
    background-clip: content-box;
    background-color: #a9a9a964;
  }
}
